body{
    
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 50%;
  float: left;
  padding: 5px;
  vertical-align: middle;
}

div{
    font-family: cursive;
    font-size: 50px;
    font-weight: bold;
    background-color: red;
    color: whitesmoke;
    text-align: center;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}