/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-ott-2020, 8.32.16
    Author     : nicolo.provenzano
*/
body {
	background-image: url("gigStelle.gif");
	background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        
}
table, th, td {
	border: 1px solid black;
}

h1 {
    color: red;
    font-weight: bold;
    font-family: sans-serif;
    margin: auto;
}
#blocco2{
  background-color: white; 
  margin: auto;
  width: 50%;
  padding: 10px;
}

p {
    color: greenyellow;
    font-size: 150%;
    font-family: sans-serif;
    margin: auto;
}

.centerBlocco {
  margin: auto;
  width: 50%;
  border: 3px solid #73AD21;
  padding: 10px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centerTesto{
  text-align: center;  
  margin: auto;
  padding: 10px;
}

#orario{  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: olivedrab;
  font-weight: bold;
  color: white;
  border-collapse: collapse;
}

#matematica, #informatica{
    
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    font-weight: bold;
    text-align: center;
    color: white;
    border-collapse: collapse;
}


/*.celle{
    background-color: gray;
    border-collapse: separate;
}*/

table{
/*    border-collapse: separate;*/
    border-spacing: 1px;
    background-color: white;
    margin-left: auto;
  margin-right: auto;
  width: 50%;
}